[tool.black]
line-length = 120
target-version = ['py39', 'py310', 'py311']
include = '\.pyi?$'
extend-exclude = '''
/(
  # directories
  \.eggs
  | \.git
  | \.hg
  | \.mypy_cache
  | \.tox
  | \.venv
  | build
  | dist
  | tutorials
)/
'''

[tool.isort]
profile = "black"
line_length = 120
known_first_party = ["apricot"]
skip_gitignore = true
extend_skip = [".eggs", ".tox", ".venv", "build", "dist", "tutorials", "docs"]

[tool.ruff]
# Same line length as Black
line-length = 120
target-version = "py39"

# Enable pycodestyle (E), Pyflakes (F), isort (I), and other useful rules
select = [
    "E",   # pycodestyle errors
    "W",   # pycodestyle warnings
    "F",   # Pyflakes
    "I",   # isort
    "N",   # pep8-naming
    "UP",  # pyupgrade
    "B",   # flake8-bugbear
    "C4",  # flake8-comprehensions
]

# Ignore specific rules if needed
ignore = [
    "E501",  # Line too long (handled by black)
    "B008",  # Do not perform function call in argument defaults
    "E722",  # Do not use bare `except`
    "N803",  # Argument name should be lowercase
    "N806",  # Variable in function should be lowercase
]

# Exclude the same directories as black
exclude = [
    ".eggs",
    ".git",
    ".hg",
    ".mypy_cache",
    ".tox",
    ".venv",
    "build",
    "dist",
    "tutorials",
    "docs",
]

[tool.ruff.format]
# Use Black-compatible formatting
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"

[tool.ruff.isort]
known-first-party = ["apricot"]
